.welcome_center{
    width: 300px;
    height: 135px;
    background-repeat: no-repeat;
    background-image: url("../imgs/images/bg_03.png");
    background-size: 300px 20px;
    background-position: 0 52px;
}
.main{
    width: 1000px;
    margin: 0 auto;
    background-color: #f4f4f4;
}
.form{
    width: 600px;
    margin: 0 auto;
    color: gray;
    font-size: 18px;
    padding-top: 30px;
}
.form input:nth-child(1){
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
}
.form input:nth-child(6){
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
}
.form input:nth-child(4){
    margin-bottom: 20px;
}
.form select{
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}
.aa{
    margin-bottom: 20px;
}
.bb{
    margin-bottom: 20px;
}
textarea{
    width: 450px;
    height: 200px;
    margin-bottom: 20px;
}
.form input:last-child{
    width: 450px;
    height: 30px;
    background-color: #D43B33;
    color: white;
    font-size: 18px;
    border: none;
    margin-bottom: 30px;

}