.welcome_center{
    width: 300px;
    height: 135px;
    background-repeat: no-repeat;
    background-image: url("../imgs/images/bg_03.png");
    background-size: 300px 20px;
    background-position: 0 52px;
}
.school{
    margin: 0 auto;
    margin-top: 20px;
    width: 700px;
    height: 50px;
    border-bottom: 1px solid #C0811C;
    margin-bottom: 20px;
    padding-left: 300px;
}
.school1{
    width: 150px;
    height: 51px;
    margin-right: 100px;
    background-color: #C0811C;
    color: white;
    line-height: 50px;
    text-align: center;
}
.school1:hover{
    background-color: white;
    width: 148px;
    color: #D43B33;
    border-left: 1px solid #C0811C;
    border-right: 1px solid #C0811C;
    border-top: 1px solid #C0811C;
}
.welcome{
     border: none;
 }
.yizhong_img1{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../imgs/yizhong.jpg");
    background-size: 1000px 300px;
}
.content{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    height: 1500px;
    background-color: #f4f4f4;
}
.yizhong{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
}
.yizhong_img2{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../imgs/yizhong2.jpg");
}
.yizhong p{
    margin: 0 auto;
    margin-top: 30px;
    text-indent: 2em;
    line-height: 20px;
    font-size: 15px;
    color: #80868B;
    width: 800px;
}
.yizhongmap{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../imgs/yizhongmap.png");
    background-size: 1000px 300px;
    background-position: 0 -300px;
    background-repeat: no-repeat;
    transition: all 500ms;
}
.yizhongmap:hover{
    background-color: rgba(0,0,0,0.8);
    background-position: 0 0;
}
.erzhong{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    display: none;
}
.erzhong_img1{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../imgs/erzhong.jpg");
    background-size: 1000px 300px;
}
.erzhong p{
    margin: 0 auto;
    margin-top: 30px;
    text-indent: 2em;
    line-height: 20px;
    font-size: 15px;
    color: #80868B;
    width: 800px;
}
.erzhong_img2{
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../imgs/erzhong2.jpg");
}
.erzhongmap{
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-image: url("../imgs/erzhongmap.png");
    background-size: 1000px 300px;
    background-position: 0 -300px;
    background-repeat: no-repeat;
    transition: all 500ms;
}
.erzhongmap:hover{
    background-color: rgba(0,0,0,0.8);
    background-position: 0 0;
}
